/* ServicesSection.css */

.services-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.services-tab button {
    margin-right: 10px;
    padding: 8px 16px;
}

.service-cards-container {
    display: flex;
    justify-content: space-between;
}

.service-card {
    width: calc(33.333% - 20px);
    /* Adjust width minus margin */
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.service-image {
    width: 100%;
    height: auto;
    display: block;
}

.service-info {
    padding: 10px 0;
}

.service-rating {
    background-color: gold;
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 10px;
}

.service-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.service-pricing .service-price {
    color: #E53935;
    font-weight: bold;
}

.service-pricing .service-original-price {
    text-decoration: line-through;
    margin-left: 8px;
    color: #757575;
}

/* Add additional CSS as necessary for responsiveness or other styles */
/* PopularService.css */
.popular-service {
    overflow: hidden;
    white-space: nowrap;
}

.scroller {
    display: inline-block;
    animation: scroll-text 10s linear infinite;
}

.text-item {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    /* Adjust font size as necessary */
}

.dot-icon {
    margin-left: 5px;
    /* Space after text before dot */
    font-size: 25px;
    /* Adjust dot size as necessary */
}

/* Keyframes for scrolling text */
@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}