.popular-services-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.popular-services-tab button {
    margin-right: 10px;
    padding: 8px 16px;
}

.popular-service-cards-container {
    display: flex;
    justify-content: space-between;
}

.popular-service-card {
    width: calc(33.333% - 20px);
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.popular-service-image {
    width: 100%;
    height: auto;
    display: block;
}

.popular-service-info {
    padding: 10px 0;
}

.popular-service-rating {
    background-color: gold;
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 10px;
}

.popular-service-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.popular-service-pricing .popular-service-price {
    color: #E53935;
    font-weight: bold;
}

.popular-service-pricing .popular-service-original-price {
    text-decoration: line-through;
    margin-left: 8px;
    color: #757575;
}


.scroller-container {
    width: 100%;
    padding-top: 25px;
    white-space: nowrap;
    padding-bottom: 25px;
    background-color: #F9F6F2;
    overflow: hidden;
}

.scroller {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    animation: scroll-text 20s ease-in-out infinite;
}

.text-item {
    display: inline-block;
    margin-left: 50px;
    font-weight: bold;
    margin-right: 50px;
    font-size: 30px;
}

.dot-icon {
    margin-left: 5px;
    font-size: 25px;
}

@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}