.location-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #eceff1;
}

.info {
    flex-basis: 40%;
    padding: 20px;
    background: #6c5ce7;
}

.info-text {
    color: white;
}

.locations {
    flex-basis: 40%;
    text-align: center;
}

.location-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 20px;
}

.location-card {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.location-card img {
    width: 50px;
    margin-bottom: 10px;
}

.location-name {
    color: #333;
}

.location-search-bar {
    margin-top: 30px;
}

.location-search-bar input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.location-search-bar button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-text {
    margin-top: 30px;
    color: #333;
}