.app-container {
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-align: center;
    background-color: #EBF4F8;
}

.top-bar {
    background: #ffffff;
    padding: 10px;
    text-align: left;
}

.button-unlock {
    color: #0052cc;
    background: none;
    border: none;
    font-weight: bold;
}

.hero-text h1 {
    margin-top: 0;
}

.hero-text h2 {
    margin-top: 0;
    color: #0052cc;
}

.hero-text p {
    color: #333;
}

.button-join {
    color: #0052cc;
    background-color: #ffffff;
    border: 1px solid #0052cc;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

/* Add additional styling according to your design needs */
/* For example, styles for the carousel, search bar, footer, etc. */

/* React-slick default dots */
.slick-dots {
    bottom: -45px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: #0052cc;
}

/* Continue styling your components here */

.search-bar {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: inline-flex;
    gap: 10px;
}

.search-bar select,
.search-bar input {
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
}

.button-search {
    color: #ffffff;
    background-color: #007bff;
    border: none;
    padding: 12px;
    cursor: pointer;
}

footer {
    text-align: left;
    padding: 10px;
    background: #ffffff;
    color: #333;
}