.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 50px;
    /* Adjust according to your logo's aspect ratio */
    margin-right: 10px;
}

.navbar-logo-text {
    font-size: 1.5em;
    color: #E40046;
    /* Your brand color */
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.navbar-item,
.navbar-dropdown {
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

.navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.navbar-item svg,
.navbar-dropdown svg {
    margin-left: 5px;
}

.navbar-cart {
    position: relative;
}

.navbar-cart svg {
    margin-left: 20px;
    cursor: pointer;
    font-size: 24px;
}